Workflow/Appointment Guard phase 1.blueprint.json
{
    "name": "Appointment Guard phase 1",
    "flow": [
        {
            "id": 1,
            "module": "calendly:watchInvitees",
            "version": 2,
            "parameters": {
                "__IMTHOOK__": 2475338
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -154,
                    "y": 145,
                    "name": "Client Booking "
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My Calendly Event webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:calendly4",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 5193325
            },
            "mapper": {
                "base": "appsFkWqaZfhirLHt",
                "table": "tblR5ZuFDnCPZTZ28",
                "record": {
                    "fld96o5rRmBxrjAtI": "{{1.scheduled_event.start_time}}",
                    "fldALehtKKlPE9wPq": "{{1.reschedule_url}}",
                    "fldL9u9wkXaMmqyPZ": "{{1.questions_and_answers[].answer}}",
                    "fldgUc0hJd4KHtG9S": "{{1.scheduled_event.location.type}}",
                    "fldm8rBegT4BLxHSG": "{{1.name}}",
                    "fldmrUyY1XVljnej7": "{{1.email}}",
                    "fldqUSU3qHJs00U82": "Scheduled"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 167,
                    "y": 152,
                    "name": "Airtable Database records the client "
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Agency OS "
                        },
                        "table": {
                            "label": "Appointment Guard",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldm8rBegT4BLxHSG",
                                            "type": "text",
                                            "label": "Full Name"
                                        },
                                        {
                                            "name": "fldmrUyY1XVljnej7",
                                            "type": "text",
                                            "label": "Email"
                                        },
                                        {
                                            "name": "fldL9u9wkXaMmqyPZ",
                                            "type": "text",
                                            "label": "Whatsapp Number"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldgUc0hJd4KHtG9S",
                                            "type": "select",
                                            "label": "Meeting Type",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "physical  ",
                                                    "value": "physical  "
                                                },
                                                {
                                                    "label": "google_conference",
                                                    "value": "google_conference"
                                                },
                                                {
                                                    "label": "  outbound_call",
                                                    "value": "  outbound_call"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fld96o5rRmBxrjAtI",
                                            "time": true,
                                            "type": "date",
                                            "label": "Booking Date"
                                        },
                                        {
                                            "name": "fldALehtKKlPE9wPq",
                                            "type": "text",
                                            "label": "Reschedule link"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldqUSU3qHJs00U82",
                                            "type": "select",
                                            "label": "status",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "Scheduled",
                                                    "value": "Scheduled"
                                                },
                                                {
                                                    "label": "Rescheduled",
                                                    "value": "Rescheduled"
                                                },
                                                {
                                                    "label": "Cancelled",
                                                    "value": "Cancelled"
                                                }
                                            ],
                                            "validate": false
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fldgUc0hJd4KHtG9S": {
                                    "mode": "edit"
                                },
                                "fldqUSU3qHJs00U82": {
                                    "mode": "chose",
                                    "label": "Scheduled"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usr0DPrjLXsRgvLtp)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldm8rBegT4BLxHSG",
                                "type": "text",
                                "label": "Full Name"
                            },
                            {
                                "name": "fldmrUyY1XVljnej7",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldL9u9wkXaMmqyPZ",
                                "type": "text",
                                "label": "Whatsapp Number"
                            },
                            {
                                "mode": "edit",
                                "name": "fldgUc0hJd4KHtG9S",
                                "type": "select",
                                "label": "Meeting Type"
                            },
                            {
                                "name": "fld96o5rRmBxrjAtI",
                                "time": true,
                                "type": "date",
                                "label": "Booking Date"
                            },
                            {
                                "name": "fldALehtKKlPE9wPq",
                                "type": "text",
                                "label": "Reschedule link"
                            },
                            {
                                "mode": "edit",
                                "name": "fldqUSU3qHJs00U82",
                                "type": "select",
                                "label": "status"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldm8rBegT4BLxHSG",
                                "type": "text",
                                "label": "Full Name"
                            },
                            {
                                "name": "fldmrUyY1XVljnej7",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldL9u9wkXaMmqyPZ",
                                "type": "text",
                                "label": "Whatsapp Number"
                            },
                            {
                                "mode": "edit",
                                "name": "fldgUc0hJd4KHtG9S",
                                "type": "select",
                                "label": "Meeting Type"
                            },
                            {
                                "name": "fld96o5rRmBxrjAtI",
                                "time": true,
                                "type": "date",
                                "label": "Booking Date"
                            },
                            {
                                "name": "fldALehtKKlPE9wPq",
                                "type": "text",
                                "label": "Reschedule link"
                            },
                            {
                                "mode": "edit",
                                "name": "fldqUSU3qHJs00U82",
                                "type": "select",
                                "label": "status"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Full Name",
                        "type": "text",
                        "label": "Full Name"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Whatsapp Number",
                        "type": "text",
                        "label": "Whatsapp Number"
                    },
                    {
                        "name": "Meeting Type",
                        "type": "text",
                        "label": "Meeting Type"
                    },
                    {
                        "name": "Booking Date",
                        "time": true,
                        "type": "date",
                        "label": "Booking Date"
                    },
                    {
                        "name": "Reschedule link",
                        "type": "text",
                        "label": "Reschedule link"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "status"
                    }
                ]
            }
        },
        {
            "id": 25,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 2
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 500,
                    "y": 150,
                    "name": " separates the bookings "
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 29,
                            "module": "twilio:SendSMS",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5169562
                            },
                            "filter": {
                                "name": "Clinic Path",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{20.`Meeting Type`}}",
                                            "b": "physica",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": "whatsapp:+254791482797",
                                "body": "Hi {{20.`Full Name`}}, your appointment at Hope Medical Clinic is confirmed! 🏥 We are looking forward to seeing you in Narok.\nIf you won't be available reschedule using the link below {{1.reschedule_url}}\n Here is the Google Maps link to find us easily: https://maps.app.goo.gl/xgav7skpfNAQj5nn9 .See you then!\"\n\nIf you wont be available for the meeting kindly cancel the meeting using the link below {{1.cancel_url}}",
                                "from": "whatsapp:+14155238886",
                                "fromType": "channel",
                                "messageBody": "body"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 944,
                                    "y": -93,
                                    "name": "WhatsApp confirmation of the booking "
                                },
                                "restore": {
                                    "expect": {
                                        "fromType": {
                                            "mode": "chose",
                                            "label": "channel"
                                        },
                                        "mediaUrl": {
                                            "mode": "chose"
                                        },
                                        "messageBody": {
                                            "mode": "chose",
                                            "label": "Create a Body"
                                        },
                                        "smartEncoded": {
                                            "mode": "chose"
                                        },
                                        "applicationSid": {
                                            "mode": "chose"
                                        },
                                        "provideFeedback": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twilio"
                                            },
                                            "label": "My Twilio connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twilio",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fromType",
                                        "type": "select",
                                        "label": "Send a message from",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "phone",
                                                "service",
                                                "channel"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "messageBody",
                                        "type": "select",
                                        "label": "Message Body",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "body",
                                                "template"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "mediaUrl",
                                        "spec": {
                                            "name": "value",
                                            "type": "url"
                                        },
                                        "type": "array",
                                        "label": "Media URL"
                                    },
                                    {
                                        "name": "smartEncoded",
                                        "type": "boolean",
                                        "label": "Smart encoded"
                                    },
                                    {
                                        "name": "validityPeriod",
                                        "type": "uinteger",
                                        "label": "Validity period"
                                    },
                                    {
                                        "name": "statusCallback",
                                        "type": "url",
                                        "label": "Status callback"
                                    },
                                    {
                                        "name": "applicationSid",
                                        "type": "select",
                                        "label": "Application"
                                    },
                                    {
                                        "name": "maxPrice",
                                        "type": "number",
                                        "label": "Max price"
                                    },
                                    {
                                        "name": "provideFeedback",
                                        "type": "boolean",
                                        "label": "Provide feedback"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "Channel",
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "text",
                                        "label": "Body",
                                        "required": true,
                                        "validate": {
                                            "max": 1600
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 30,
                            "module": "twilio:SendSMS",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5169562
                            },
                            "filter": {
                                "name": "Google Meet Path",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{20.`Meeting Type`}}",
                                            "b": "google_conference",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": "whatsapp:+254791482797",
                                "body": "Hi {{20.`Full Name`}}, your video consultation is confirmed. 💻 You can join the meeting at your scheduled time using this link: {{1.scheduled_event.location.join_url}}. We recommend joining from a quiet place with good internet.\n When you will not be available kindly use the cancel link below {{1.cancel_url}} and reschedule using {{1.reschedule_url}}. Thank you for reaching out to us \n\n",
                                "from": "whatsapp:+14155238886",
                                "fromType": "channel",
                                "messageBody": "body"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1281,
                                    "y": 162,
                                    "name": "WhatsApp confirmation of the booking "
                                },
                                "restore": {
                                    "expect": {
                                        "fromType": {
                                            "mode": "chose",
                                            "label": "channel"
                                        },
                                        "mediaUrl": {
                                            "mode": "chose"
                                        },
                                        "messageBody": {
                                            "mode": "chose",
                                            "label": "Create a Body"
                                        },
                                        "smartEncoded": {
                                            "mode": "chose"
                                        },
                                        "applicationSid": {
                                            "mode": "chose"
                                        },
                                        "provideFeedback": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twilio"
                                            },
                                            "label": "My Twilio connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twilio",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fromType",
                                        "type": "select",
                                        "label": "Send a message from",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "phone",
                                                "service",
                                                "channel"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "messageBody",
                                        "type": "select",
                                        "label": "Message Body",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "body",
                                                "template"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "mediaUrl",
                                        "spec": {
                                            "name": "value",
                                            "type": "url"
                                        },
                                        "type": "array",
                                        "label": "Media URL"
                                    },
                                    {
                                        "name": "smartEncoded",
                                        "type": "boolean",
                                        "label": "Smart encoded"
                                    },
                                    {
                                        "name": "validityPeriod",
                                        "type": "uinteger",
                                        "label": "Validity period"
                                    },
                                    {
                                        "name": "statusCallback",
                                        "type": "url",
                                        "label": "Status callback"
                                    },
                                    {
                                        "name": "applicationSid",
                                        "type": "select",
                                        "label": "Application"
                                    },
                                    {
                                        "name": "maxPrice",
                                        "type": "number",
                                        "label": "Max price"
                                    },
                                    {
                                        "name": "provideFeedback",
                                        "type": "boolean",
                                        "label": "Provide feedback"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "Channel",
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "text",
                                        "label": "Body",
                                        "required": true,
                                        "validate": {
                                            "max": 1600
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 31,
                            "module": "twilio:SendSMS",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5169562
                            },
                            "filter": {
                                "name": "Phone Call Path",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{20.`Meeting Type`}}",
                                            "b": "call",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": "whatsapp:+254791482797",
                                "body": "Hi {{20.`Full Name`}}, your phone consultation is confirmed! 📞 We will call you at your scheduled time on this number {{20.`Whatsapp Number`}}. Please have any relevant medical documents ready. Talk soon!\"\nIf you won't be available, kindly reschedule the meeting using the link below {{1.reschedule_url}}\nIf by any chance you won't be available for the meeting using the link below {{1.cancel_url}}",
                                "from": "whatsapp:+14155238886",
                                "fromType": "channel",
                                "messageBody": "body"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 952,
                                    "y": 363,
                                    "name": "WhatsApp confirmation of the booking "
                                },
                                "restore": {
                                    "expect": {
                                        "fromType": {
                                            "mode": "chose",
                                            "label": "channel"
                                        },
                                        "mediaUrl": {
                                            "mode": "chose"
                                        },
                                        "messageBody": {
                                            "mode": "chose",
                                            "label": "Create a Body"
                                        },
                                        "smartEncoded": {
                                            "mode": "chose"
                                        },
                                        "applicationSid": {
                                            "mode": "chose"
                                        },
                                        "provideFeedback": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twilio"
                                            },
                                            "label": "My Twilio connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twilio",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fromType",
                                        "type": "select",
                                        "label": "Send a message from",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "phone",
                                                "service",
                                                "channel"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "messageBody",
                                        "type": "select",
                                        "label": "Message Body",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "body",
                                                "template"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "mediaUrl",
                                        "spec": {
                                            "name": "value",
                                            "type": "url"
                                        },
                                        "type": "array",
                                        "label": "Media URL"
                                    },
                                    {
                                        "name": "smartEncoded",
                                        "type": "boolean",
                                        "label": "Smart encoded"
                                    },
                                    {
                                        "name": "validityPeriod",
                                        "type": "uinteger",
                                        "label": "Validity period"
                                    },
                                    {
                                        "name": "statusCallback",
                                        "type": "url",
                                        "label": "Status callback"
                                    },
                                    {
                                        "name": "applicationSid",
                                        "type": "select",
                                        "label": "Application"
                                    },
                                    {
                                        "name": "maxPrice",
                                        "type": "number",
                                        "label": "Max price"
                                    },
                                    {
                                        "name": "provideFeedback",
                                        "type": "boolean",
                                        "label": "Provide feedback"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "Channel",
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "text",
                                        "label": "Body",
                                        "required": true,
                                        "validate": {
                                            "max": 1600
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}