Workflow/Return loop for canceled schedule.blueprint.json
{
    "name": "Return loop for canceled schedule",
    "flow": [
        {
            "id": 2,
            "module": "calendly:watchInvitees",
            "version": 2,
            "parameters": {
                "__IMTHOOK__": 2481148
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -372,
                    "y": 25,
                    "name": "Client Booking "
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My Calendly Event webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:calendly4",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "calendly:getAnEvent",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5106566
            },
            "mapper": {
                "event": "{{2.uri}}"
            },
            "metadata": {
                "designer": {
                    "x": -34,
                    "y": 29,
                    "name": "Searches for client "
                },
                "restore": {
                    "expect": {
                        "event": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "calendly2"
                            },
                            "label": "Calendly connection (etyang058@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:calendly2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "event",
                        "type": "select",
                        "label": "Event",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 5214990
            },
            "mapper": {
                "base": "appsFkWqaZfhirLHt",
                "view": "viw27Vp91jdxTgWU9",
                "table": "tblR5ZuFDnCPZTZ28",
                "formula": "{Email} = '{{2.email}}'",
                "maxRecords": "1",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 286,
                    "y": 20,
                    "name": "Finds client in the base"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Agency OS "
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose",
                            "label": "Grid view"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Appointment Guard"
                        },
                        "fields": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usr0DPrjLXsRgvLtp)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Full Name",
                        "type": "text",
                        "label": "Full Name"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Whatsapp Number",
                        "type": "text",
                        "label": "Whatsapp Number"
                    },
                    {
                        "name": "Meeting Type",
                        "type": "text",
                        "label": "Meeting Type"
                    },
                    {
                        "name": "Booking Date",
                        "time": true,
                        "type": "date",
                        "label": "Booking Date"
                    },
                    {
                        "name": "Reschedule link",
                        "type": "text",
                        "label": "Reschedule link"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "status"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 576,
                    "y": 18
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 5215053
                            },
                            "filter": {
                                "name": "canceled ",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.rescheduled}}",
                                            "b": "{{false}}",
                                            "o": "boolean:equal"
                                        },
                                        {
                                            "a": "{{15.event_type}}",
                                            "b": "invitee.canceled",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{5.id}}",
                                "base": "appsFkWqaZfhirLHt",
                                "table": "tblR5ZuFDnCPZTZ28",
                                "record": {
                                    "fldqUSU3qHJs00U82": "Canceled"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 833,
                                    "y": -192,
                                    "name": "changes client to canceled "
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "appsFkWqaZfhirLHt"
                                        },
                                        "table": {
                                            "label": "Appointment Guard"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldqUSU3qHJs00U82": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable OAuth connection (User ID: usr0DPrjLXsRgvLtp)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldm8rBegT4BLxHSG",
                                                "type": "text",
                                                "label": "Full Name"
                                            },
                                            {
                                                "name": "fldmrUyY1XVljnej7",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldL9u9wkXaMmqyPZ",
                                                "type": "text",
                                                "label": "Whatsapp Number"
                                            },
                                            {
                                                "name": "fldgUc0hJd4KHtG9S",
                                                "type": "text",
                                                "label": "Meeting Type"
                                            },
                                            {
                                                "name": "fld96o5rRmBxrjAtI",
                                                "time": true,
                                                "type": "date",
                                                "label": "Booking Date"
                                            },
                                            {
                                                "name": "fldALehtKKlPE9wPq",
                                                "type": "text",
                                                "label": "Reschedule link"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldqUSU3qHJs00U82",
                                                "type": "select",
                                                "label": "status"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Full Name",
                                        "type": "text",
                                        "label": "Full Name"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Whatsapp Number",
                                        "type": "text",
                                        "label": "Whatsapp Number"
                                    },
                                    {
                                        "name": "Meeting Type",
                                        "type": "text",
                                        "label": "Meeting Type"
                                    },
                                    {
                                        "name": "Booking Date",
                                        "time": true,
                                        "type": "date",
                                        "label": "Booking Date"
                                    },
                                    {
                                        "name": "Reschedule link",
                                        "type": "text",
                                        "label": "Reschedule link"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text",
                                        "label": "status"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "twilio:SendSMS",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5169562
                            },
                            "mapper": {
                                "to": "whatsapp:+254791482797",
                                "body": "Hi {{10.`Full Name`}}, \nWe've received your cancellation for the appointment. \nWe hope to see you another time!\"",
                                "from": "whatsapp:+14155238886",
                                "fromType": "channel",
                                "messageBody": "body"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1168,
                                    "y": -204,
                                    "name": "sends whatsapp confirmation message "
                                },
                                "restore": {
                                    "expect": {
                                        "fromType": {
                                            "mode": "chose",
                                            "label": "channel"
                                        },
                                        "mediaUrl": {
                                            "mode": "chose"
                                        },
                                        "messageBody": {
                                            "mode": "chose",
                                            "label": "Create a Body"
                                        },
                                        "smartEncoded": {
                                            "mode": "chose"
                                        },
                                        "applicationSid": {
                                            "mode": "chose"
                                        },
                                        "provideFeedback": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twilio"
                                            },
                                            "label": "My Twilio connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twilio",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fromType",
                                        "type": "select",
                                        "label": "Send a message from",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "phone",
                                                "service",
                                                "channel"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "messageBody",
                                        "type": "select",
                                        "label": "Message Body",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "body",
                                                "template"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "mediaUrl",
                                        "spec": {
                                            "name": "value",
                                            "type": "url"
                                        },
                                        "type": "array",
                                        "label": "Media URL"
                                    },
                                    {
                                        "name": "smartEncoded",
                                        "type": "boolean",
                                        "label": "Smart encoded"
                                    },
                                    {
                                        "name": "validityPeriod",
                                        "type": "uinteger",
                                        "label": "Validity period"
                                    },
                                    {
                                        "name": "statusCallback",
                                        "type": "url",
                                        "label": "Status callback"
                                    },
                                    {
                                        "name": "applicationSid",
                                        "type": "select",
                                        "label": "Application"
                                    },
                                    {
                                        "name": "maxPrice",
                                        "type": "number",
                                        "label": "Max price"
                                    },
                                    {
                                        "name": "provideFeedback",
                                        "type": "boolean",
                                        "label": "Provide feedback"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "Channel",
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "text",
                                        "label": "Body",
                                        "required": true,
                                        "validate": {
                                            "max": 1600
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 13,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 5193894
                            },
                            "filter": {
                                "name": "Rescheduled",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.rescheduled}}",
                                            "b": "{{true}}",
                                            "o": "boolean:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{5.id}}",
                                "base": "appsFkWqaZfhirLHt",
                                "table": "tblR5ZuFDnCPZTZ28",
                                "record": {
                                    "fld96o5rRmBxrjAtI": "{{15.start_time}}",
                                    "fldqUSU3qHJs00U82": "Rescheduled"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 890,
                                    "y": 240,
                                    "name": "changes client to rescheduled"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Agency OS "
                                        },
                                        "table": {
                                            "label": "Appointment Guard"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldqUSU3qHJs00U82": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable OAuth connection (User ID: usr0DPrjLXsRgvLtp)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldm8rBegT4BLxHSG",
                                                "type": "text",
                                                "label": "Full Name"
                                            },
                                            {
                                                "name": "fldmrUyY1XVljnej7",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldL9u9wkXaMmqyPZ",
                                                "type": "text",
                                                "label": "Whatsapp Number"
                                            },
                                            {
                                                "name": "fldgUc0hJd4KHtG9S",
                                                "type": "text",
                                                "label": "Meeting Type"
                                            },
                                            {
                                                "name": "fld96o5rRmBxrjAtI",
                                                "time": true,
                                                "type": "date",
                                                "label": "Booking Date"
                                            },
                                            {
                                                "name": "fldALehtKKlPE9wPq",
                                                "type": "text",
                                                "label": "Reschedule link"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldqUSU3qHJs00U82",
                                                "type": "select",
                                                "label": "status"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Full Name",
                                        "type": "text",
                                        "label": "Full Name"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Whatsapp Number",
                                        "type": "text",
                                        "label": "Whatsapp Number"
                                    },
                                    {
                                        "name": "Meeting Type",
                                        "type": "text",
                                        "label": "Meeting Type"
                                    },
                                    {
                                        "name": "Booking Date",
                                        "time": true,
                                        "type": "date",
                                        "label": "Booking Date"
                                    },
                                    {
                                        "name": "Reschedule link",
                                        "type": "text",
                                        "label": "Reschedule link"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text",
                                        "label": "status"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 18,
                            "module": "twilio:SendSMS",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5169562
                            },
                            "mapper": {
                                "to": "whatsapp:+254791482797",
                                "body": "\"Hi {{13.`Full Name`}}, your appointment has been successfully rescheduled! \n\nNew Time: {{15.start_time}}\nWe have updated our records at Hope Medical Clinic. If you have any other questions, just reply to this message. See you then!\"",
                                "from": "whatsapp:+14155238886",
                                "fromType": "channel",
                                "messageBody": "body"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1221,
                                    "y": 219,
                                    "name": "sends WhatsApp confirmation message"
                                },
                                "restore": {
                                    "expect": {
                                        "fromType": {
                                            "mode": "chose",
                                            "label": "channel"
                                        },
                                        "mediaUrl": {
                                            "mode": "chose"
                                        },
                                        "messageBody": {
                                            "mode": "chose",
                                            "label": "Create a Body"
                                        },
                                        "smartEncoded": {
                                            "mode": "chose"
                                        },
                                        "applicationSid": {
                                            "mode": "chose"
                                        },
                                        "provideFeedback": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twilio"
                                            },
                                            "label": "My Twilio connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twilio",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fromType",
                                        "type": "select",
                                        "label": "Send a message from",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "phone",
                                                "service",
                                                "channel"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "messageBody",
                                        "type": "select",
                                        "label": "Message Body",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "body",
                                                "template"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "mediaUrl",
                                        "spec": {
                                            "name": "value",
                                            "type": "url"
                                        },
                                        "type": "array",
                                        "label": "Media URL"
                                    },
                                    {
                                        "name": "smartEncoded",
                                        "type": "boolean",
                                        "label": "Smart encoded"
                                    },
                                    {
                                        "name": "validityPeriod",
                                        "type": "uinteger",
                                        "label": "Validity period"
                                    },
                                    {
                                        "name": "statusCallback",
                                        "type": "url",
                                        "label": "Status callback"
                                    },
                                    {
                                        "name": "applicationSid",
                                        "type": "select",
                                        "label": "Application"
                                    },
                                    {
                                        "name": "maxPrice",
                                        "type": "number",
                                        "label": "Max price"
                                    },
                                    {
                                        "name": "provideFeedback",
                                        "type": "boolean",
                                        "label": "Provide feedback"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "Channel",
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "text",
                                        "label": "Body",
                                        "required": true,
                                        "validate": {
                                            "max": 1600
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}